body{
    font-family: 'Poppins', sans-serif;  
}
h1{
   font-size: 50px;  
}
.newC{
    color: orangered;
}
.flexible-container{
    display: flex;
}
.half{
    width: 50%;
    padding-left: 1%
    box-shadow: yellowgreen;
}
.half img{
    width: 50%;
    border-radius: 50px;
   
}
.link-button{
    text-decoration: none;
    background-color: rgb(233, 79, 23);
    padding: 10px 40px;
    border-radius: 7px;
    font-weight: 700;
}
.dream{
    background-image: url(web.jpg);
    background-repeat: no-repeat;
    background-position: right;
    color:aliceblue;
    padding: 50px;
}
